@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET, EF, WCF</h1>
    <p class="lead">This is simple ASP.NET MVC application using WCF client for my distributed applications course in
    Plovdiv university. </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
